.landing-page-con {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', 'sans-serif';

  // @media screen and ($iPadPro) {
  //   max-width: 720px;
  // }

  // @media screen and ($iPad) {
  //   max-width: 600px;
  // }

  // @media screen and ($iPhoneXSMax) {
  //   max-width: 320px;
  // }

  // @media screen and ($galaxyS5) {
  //   max-width: 300px;
  // }
}

.nav-header {
  background: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em 3em;
  -webkit-box-shadow: 0px 2px 3px -2px rgba(173, 173, 173, 1);
  -moz-box-shadow: 0px 2px 3px -2px rgba(173, 173, 173, 1);
  box-shadow: 0px 2px 3px -2px rgba(173, 173, 173, 1);
  width: 100vw;

  @media screen and ($iPadPro) {
    padding-left: 2em;
    padding-right: 2em;
    flex-direction: column;
  }

  .left-con {
    display: flex;
    align-items: center;

    @media screen and ($iPadPro) {
      width: 100%;
      justify-content: space-between;
    }

    img {
      width: 7rem;
    }

    .menu-icon {
      fill: white;
      background-color: rgb(63, 81, 181);
      width: 2.5rem;
      height: auto;
      display: none;

      @media screen and ($iPadPro) {
        display: unset;
        border-radius: 3px;
      }
    }
  }

  .landing-nav {
    display: flex;
    align-items: center;

    @media screen and ($iPadPro) {
      display: flex;
      flex-direction: column;
    }
    a {
      @media screen and ($iPadPro) {
        display: none;
      }
      button {
        border: 1.5px solid rgb(63, 81, 181);
        font-family: 'Nunito', 'sans-serif';
        font-weight: 500;

        &:hover {
          border: 1.5px solid rgb(74, 69, 125);
        }
      }

      &:nth-of-type(2) {
        margin-left: 1em;
        button {
          &:hover {
            background-color: rgb(74, 69, 125);
          }
        }
      }
    }
  }
}

.landing-main {
  flex-grow: 1;
}
