.landing-page-con {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', 'sans-serif';
}

.nav-header {
  background: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em 3em;
  -webkit-box-shadow: 0px 2px 3px -2px rgba(173, 173, 173, 1);
  -moz-box-shadow: 0px 2px 3px -2px rgba(173, 173, 173, 1);
  box-shadow: 0px 2px 3px -2px rgba(173, 173, 173, 1);
  width: 100vw;

  a:link {
    text-decoration: none;
    padding: 0;
  }

  .brand-image {
    margin: 0;
    img {
      width: 7rem;
    }
  }

  nav {
    a {
      button {
        border: 1.5px solid rgb(63, 81, 181);
        font-family: 'Nunito', 'sans-serif';
        font-weight: 500;

        &:hover {
          border: 1.5px solid rgb(74, 69, 125);
        }
      }

      &:nth-of-type(2) {
        margin-left: 1em;

        button {
          &:hover {
            background-color: rgb(74, 69, 125);
          }
        }
      }
    }
  }
}
